startup --windows_enable_symlinks

# Build configuration flag aliases.
build --flag_alias=steam=//:steam

# Global options.
build --color=yes
build --curses=yes
build --ui_actions_shown=16
build --experimental_windows_watchfs
build --watchfs
build --enable_runfiles
build --proto_toolchain_for_cc=//game/data/proto:cc_toolchain
build --experimental_cc_implementation_deps

build -c opt
test --test_output=errors

# Common configuration.
build:ci --curses=no
build:ci --keep_going

build:windows-common --cxxopt=/std:c++20
build:windows-common --copt=/WX

build:linux-common --cxxopt=-std=c++20
build:linux-common --copt=-Werror
build:linux-common --copt=-Wall
build:linux-common --per_file_copt=external/.*@-w

build:clang-common --copt=-Wno-deprecated-volatile
build:clang-common --copt=-Wno-deprecated-non-prototype
build:clang-common --cxxopt=-Wno-deprecated-enum-enum-conversion
build:clang-common --cxxopt=-Wno-unused-command-line-argument
build:clang-common --cxxopt=-Wno-ambiguous-reversed-operator

# Windows configurations.
build:msvc --config=windows-common
build:msvc --copt=/Zc:preprocessor
build:msvc --copt=/wd5105
build:msvc --copt=/experimental:deterministic
build:msvc --linkopt=/experimental:deterministic
build:msvc --@//:msvc

build:clang-cl --config=windows-common
build:clang-cl --config=clang-common
build:clang-cl --compiler=clang-cl
build:clang-cl --cc_output_directory_tag=clang

build:ubsan-cl --config=clang-cl
build:ubsan-cl --cc_output_directory_tag=ubsan
build:ubsan-cl --copt=-fsanitize=undefined
build:ubsan-cl --copt=/MT

# Linux configurations.
build:gcc --config=linux-common
build:gcc --repo_env=CC=gcc
build:gcc --cxxopt=-lstdc++
build:gcc --copt=-Wno-uninitialized

build:clang --config=linux-common
build:clang --config=clang-common
build:clang --repo_env=CC=clang
build:clang --linkopt=-lstdc++
build:clang --cxxopt=-lstdc++
build:clang --cxxopt=-stdlib=libstdc++
build:clang --cc_output_directory_tag=clang

# MacOS configuration.
build:darwin --config=linux-common
build:darwin --config=clang-common
