Checks: '-*,bugprone-*,misc-*,modernize-*,google-*,hicpp-*,cert-*,concurrency-*,cppcoreguidelines-*,performance-*,portability-*,readability-*,-modernize-use-trailing-return-type,-modernize-use-nodiscard,-google-explicit-constructor,-google-readability-todo,-hicpp-uppercase-literal-suffix,-hicpp-named-parameter,-hicpp-explicit-conversions,-hicpp-signed-bitwise,-cppcoreguidelines-pro-type-union-access,-cppcoreguidelines-avoid-magic-numbers,-readability-named-parameter,-readability-identifier-length,-readability-magic-numbers,-readability-uppercase-literal-suffix,-readability-implicit-bool-conversion,-bugprone-branch-clone,-readability-function-cognitive-complexity,-bugprone-easily-swappable-parameters,-performance-unnecessary-value-param,-cppcoreguidelines-avoid-non-const-global-variables,-cert-dcl21-cpp'
HeaderFilterRegex: 'game/.*'
InheritParentConfig: true
CheckOptions:
    - key: bugprone-argument-comment.StrictMode
      value: 1
    - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
      value: 1
FormatStyle: 'file'