body {

    background-color: #000000;
    color: #eeeeee;

    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
    
    margin: 0px;
    padding: 0px;
}

a:link, a:visited, a:active {

    color: #eeeeee;
    
}

a:hover {

    color: #ffffff;

}

div.page {

    
    border-style: none;

    text-align: left;
    vertical-align: top;
        
    margin: 0px;
    padding: 24px;


}

div.box {

    border: 1px solid #999999;
    margin: 0px;
    padding: 12px;
    
}

table {

    border-style: none;
    
    margin: 12px;
    padding: 0px;
   
}

table.big {

    width: 100%;
    
}

td {

    border-style: none;
    margin: 0px;
    padding: 0px;
    padding-left: 12px;
    padding-right: 12px;

}

td.big {
    width: 50%;
}